{% extends 'layout.html' %}
{% block content %}
	<h1>about</h1>
	<div class="content-section">
		<p>This is a sample about page. You can change this to your liking.</p>
		<p>flask-cms is a fork of <u><a href="https://github.com/CoreyMSchafer">@CoreyMSchafer</a></u>'s flask blog with added functionality (comments, likes, alerts, new theme, etc.) <a href="https://github.com/Va1a/flask-cms"><b><u>View it on github</b></u></a></p>
		<p>Licensed with the <u><a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License 2.0</a></u></p>
	</div>
{% endblock content %}
